{% extends "base.html" %}

{% block title %} Yoga Class {% endblock %}

{% block content %}
<h1 class="mb-3">{{varclass['name']}}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <p><strong> Date: </strong></p>
        </div>
        <div class="col">
            <p> {{varclass['date']}} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p><strong> Duration: </strong></p>
        </div>
        <div class="col">
            <p> {{varclass['duration']}} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p><strong> Yoga Type:</strong></p>
        </div>
        <div class="col">
            <p> {{varclass['type']}} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p><strong> Yoga Level: </strong></p>
        </div>
        <div class="col">
            <p> {{varclass['level']}} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p><strong> Trainer: </strong></p>
        </div>
        <div class="col">
            <p> {{varclass['trainer']}} </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <p><strong> Description: </strong></p>
        </div>
        <div class="col">
            <p> {{varclass['description']}} </p>
        </div>
    </div>
</div>

<a href="{{url_for('class_edit',class_name=varclass['name'])}}">
    <button type="button">Edit Class</button>
</a>
{% endblock %}