{% extends "base.html" %}

{% block title %} Good Vibes Yoga {% endblock %}

{% block content %}

    <!--A simple name and description for the website, with a logo image.-->
    <h1>Good Vibes Yoga</h1>
    <!--image credit: free background photo from Pngtree.com-->
    <img src="{{url_for('static', filename='images/logo.jpg')}}" alt="logo" width="100">
        
    
    <div>
        <p>
            This is a website for Good Vibes Yoga's management team to manage and display their yoga classes.
            On this site, management can create, edit, and delete yoga classes and display the information for each class.
        </p>
    </div>

    <!--A button that takes you to the Classes page.-->
    <a href="{{url_for('classes')}}">
        <button type="button" class="btn btn-primary mb-2">Classes</button>
    </a>
{% endblock %}